<md-content style="background:white" ng-cloak class="md-padding" layout-fill>
	<div layout="row" flex>
		
		<div layout="column" flex="50" layout-align="center center">
			<form action="https://test.payu.in/_payment"  name="payuform" method=POST >
				<input type="hidden" name="key" value="UFu3ed" />
				<input type="hidden" name="hash_string" value="" />
				<input type="hidden" name="hash" />
				<input type="hidden" name = "service_provider" value=""/>
				<!-- <input type="hidden" name = "service_provider" value="payu_paisa"/> -->
				<input type="hidden" name="txnid"/>
				<h3>Payment Request</h3>
				<div layout="row" >
					<md-input-container>
						<label>Amount</label>
						<input name = "amount"  ng-model="plan.cost">
					</md-input-container>
					<md-input-container>
						<label>First Name</label>
						<input name = "firstname" class="capitalize"  ng-model="firstname">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container >
						<label>Email</label>
						<input name = "email"  ng-model="email">
					</md-input-container>
					<md-input-container >
						<label>Phone</label>
						<input name = "phone"  ng-model="phone">
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container >
						<label>Product Info</label>
						<input name = "productinfo"  ng-model="productinfo">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container class="md-padding">
						<label>Success URL</label>
						<input  name = "surl" ng-model="surl" size="64">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container >
						<label>Failure URL</label>
						<input  name = "furl"  ng-model="furl" size="64">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container >
						<label>UDF1</label>
						<input  name = "udf1"  ng-model="plan._id">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container >
						<label>UDF2</label>
						<input  name = "udf2"  ng-model="org">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container >
						<label>USER</label>
						<input  name = "udf3"  ng-model="user">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container >
						<label>PFSUCCESSURI</label>
						<input  name = "udf4"  ng-model="pfSuccessRedirectUri">
					</md-input-container>
				</div>
				<div layout="row" style="display:none">
					<md-input-container >
						<label>PFFAILUREURI</label>
						<input  name = "udf5"  ng-model="pfFailureRedirectUri">
					</md-input-container>
				</div>
			</div>
			<!-- <tr>
				<td><b>Optional Parameters</b></td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td><input name="lastname" id="lastname"  /></td>
				<td>Cancel URI: </td>
				<td><input name="curl" value="" /></td>
			</tr>
			<tr>
				<td>Address1: </td>
				<td><input name="address1" /></td>
				<td>Address2: </td>
				<td><input name="address2"  /></td>
			</tr>
			<tr>
				<td>City: </td>
				<td><input name="city"  /></td>
				<td>State: </td>
				<td><input name="state"  /></td>
			</tr>
			<tr>
				<td>Country: </td>
				<td><input name="country"  /></td>
				<td>Zipcode: </td>
				<td><input name="zipcode"  /></td>
			</tr>
			<tr>
				<td>UDF1: </td>
				<td><input name="udf1"  /></td>
				<td>UDF2: </td>
				<td><input name="udf2"  /></td>
			</tr>
			<tr>
				<td>UDF3: </td>
				<td><input name="udf3"   /></td>
				<td>UDF4: </td>
				<td><input name="udf4"  /></td>
			</tr>
			<tr>
				<td>UDF5: </td>
				<td><input name="udf5"  /></td>
				<td>PG: </td>
				<td><input name="pg"  /></td>
			</tr> 
		</tr> -->

	</form>
	<div flex="50" layout="row">
		<md-card flex  flex-xs="100" flex-sm="100">
			<div layout="row" class="md-whiteframe-6dp" layout-align="center start" style="background:grey"><img flex="none" ng-src="{{imagePath}}" style="max-width: 200px" class="md-card-image" alt="Washed Out"></div>
			<div layout="column" layout-align="start center">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{plan.identifier}}</span>


					</md-card-title-text>


				</md-card-title>
				<div layout="row" ng-if="plan.cost != 0"><span style="color:grey" class="md-headline">&#8377; {{plan.cost + ' / ' + plan.months}} <small style="font-size:10px">months</small></span></div>
				<div ng-if="plan.cost == 0" style="font-size:27px;color:grey;"><i class="material-icons">tag_faces</i></div>
        <!-- <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-warn">more info</md-button>
          <md-button class="md-primary md-raised" ng-click="checkout(p)">subscribe</md-button>
      </md-card-actions> -->
      <md-card-content >
      	<md-list layout="column">
      		<md-list-item ng-repeat="t in plan.tags">
      			<i style="float:left;color:lightgrey;" class="material-icons">label</i>{{t}}
      		</md-list-item>
      	</md-list>
      </md-card-content>
  </md-card>
</div>
</div>

<md-button class="md-raised md-primary" type="submit" ng-click="getPaymentKeys()" value="Submit"  >
	<i class="material-icons">navigate_next</i>
</md-button>


</md-content>
